<form action="" method="post">
  <h4 class="alpha">Describe Yourself</h4>
  <br>
  <p>I am <input type="text" name="name" value="Name">,

  <!-- race -->
  the
  <select name="race">
  {{#each races }}
  <option value="{{this}}">{{this}}</option>
  {{/each}}
  </select>

  <select name="gameClass">
  {{#each classes }}
  <option value="{{this}}">{{this}}</option>
  {{/each}}
  </select>

  with
  <select name="attribute">
  {{#each attributes }}
  <option value="{{this}}">{{this}}</option>
  {{/each}}
  </select>

  . And there's only one thing on my mind:&#160;
  <select name="motive">
  {{#each motives }}
  <option value="{{this}}">{{this}}</option>
  {{/each}}
  </select>

  </p>

  	<input type="submit" value="Submit">
</form>

<button onclick="window.location.href='/'">Cancel</button>
